:root {
  --verde-fupese: #138f2f;
  --gris-claro: #f4f4f4;
  --gris-medio: #bfbfbf;
  --gris-oscuro: #333333;
  --dorado-suave: #d4af37;
  --negro-carbon: #1a1a1a;
  --blanco: #ffffff;
}

.contacto__contenido {
  padding: 0.5rem 1.5rem 3rem; /* aún más cerca del header */
  max-width: 1200px;
  margin: 0 auto;
}

.contacto__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  align-items: start;
}

.contacto__info {
  font-size: 1rem;
  color: var(--gris-oscuro);
}

.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__group {
  display: flex;
  gap: 1rem;
}

.contacto__form input,
.contacto__form textarea {
  padding: 0.75rem;
  border: 1px solid var(--gris-medio);
  border-radius: 6px;
  width: 100%;
  font-size: 1rem;
}

.contacto__form button {
  background-color: var(--verde-fupese);
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contacto__form button:hover {
  background-color: #0d6f25;
}

.contacto__mapa {
  grid-column: 1 / -1;
  margin-top: 0rem;
}
.header {
  /* background-color: var(--gris-medio); */
  color: var(--verde-fupese);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav__item a {
  color: var(--gris-oscuro);
}

.nav__item--active a {
  color: var(--verde-fupese);
}

.nav__item a::after {
  background-color: var(--verde-fupese);
}

.contacto__mapa iframe {
  height: 400px; /* Aumentado de 300px */
  border-radius: 6px;
  width: 100%;
}

.contacto {
  padding-top: 3.5rem;
}

.mensaje-exito {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.mensaje-exito.mostrar {
  opacity: 1;
}
.oculto {
  display: none;
}

@media (max-width: 768px) {
  .contacto__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .form__group {
    flex-direction: column;
    gap: 1rem;
  }

  .contacto__form input,
  .contacto__form textarea {
    font-size: 1rem;
    width: 100%;
  }

  .contacto__contenido {
    padding: 2rem 1rem;
  }

  .contacto__info {
    font-size: 1rem;
  }

  .contacto__mapa iframe {
    height: 300px;
    width: 100%;
  }

  .mensaje-exito {
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}
